<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1>Hello</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, animi! Laborum rerum deserunt ratione sit quibusdam magnam neque eveniet quis doloremque sunt dolorum quam, ipsum dicta atque hic non tenetur.</p>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html> 